*.mo
*.po
*.py,cover
*.pyc
*.sqlite
*.db
*.json
.DS_Store
.cache/
.coverage
.pylintrc.tmp
.pytest_cache/
.vs/
.vscode
.web_cache/
/.mypy_cache/
/images/*.jpg
/images/charts/*.png
/monkeytype.sqlite3
config.json
coverage.xml
db
decksite/images/*-cmc.png
ffmpeg.exe
meta.sqlite
my_doodle.py
spellfix.*
sqlite3.h
sqlite3ext.h
test_results.xml
whoosh_index/
/modo_bugs_repo/
