{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Index{% endblock title %}
{% block head %}
  {{ super() }}
    <style></style>
{% endblock head %}
{% block page_content %}
<div class="page-header">
  <form style="display: inline;" action="{{ url_for('search') }}" method="get" name="search">
    {{ form.select }}
    {{ form.q(size=20) }}
    <input type="submit" value="Search">
  </form>

  {% if table %}
    <h1>Search results for "{{ query }}":</h1>
    {{ table }}
  {% endif %}
</div>
{% endblock page_content %}
